// COLOR VARIABLES
$color-background: #102c2bda;
$color-primary: #805422;
$color-primary-dark: #faa033;

$color-secondary-light: #244163;
$color-secondary: #101d2c;

$color-grey-light-1: #f9f7f6;
$color-grey-light-2: #aaa;

$color-grey-dark-1: #54483A;
$color-grey-dark-2: #6D5D4B;

$color-error: #582424;

$box-shadow: 3px 3px 10px 8px $color-primary-dark;

// FONT VARIABLES
$font-primary: 'Poppins',
sans-serif;
$font-display: 'Poppins',
sans-serif;
