.cardText {
    display: grid;
    gap: 2rem;
    &__title {
        width: 469px;
        height: 63px;
        font-size: 2.8rem;
        font-weight: 400;
    }
    
    &__text {
        width: 814px;
        height: 104px;
        font-size: 1.3rem;
        font-weight: 300;
        line-height: 3rem;
        text-align: left;
        text-transform: capitalize;
    }
}


.card{
    padding: 1rem;
    box-shadow: 0px 0px 30px #00000038;
    display: grid;
    justify-content: center;
    gap: 1rem;

    img{
        object-fit: cover;
        object-position: center;
    }

    &__date{
        font-size: .8rem;
        font-weight: 200;
        letter-spacing: 42;
    }

    &__title{
        font-size: 1.6rem;
        font-weight: 600;
        text-transform: capitalize;
    }

    &__description{
        font-size: 1.1rem;
        font-weight: 200;
        line-height: 2rem;
    }

    &__btn{
        position: relative;
        color: #FF00F7;
        
        &--dash{
            position: absolute;
            height: 2px;
            width: 5rem;
        }

        &--main{
            letter-spacing: .54px;
            border: none;
            outline: none;
        }
    }
}
