.cardText {
    &__title {
        width: 469px;
        height: 63px;
        font-size: 2.8rem;
    }
    
    &__text {
        width: 814px;
        height: 104px;
        font-size: 1.3rem;
    }
}
