.dots {
    width: 334px;
    height: 136px;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;

    &__item {
        position: relative;
        width: 30px;
        height: 30px;
        display: block;

        &::before{
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            background-color: white;
            width: 100%;
            height: 100%;
            transform: scale(0.1);
            border-radius: 50%;
        }
    }


}
