*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html,
body {
   
    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

    overflow-x: hidden;
    line-height: 1.6;
    font-weight: 300;
    font-family: $font-primary;
  
    box-sizing: border-box;
}
