// COLOR VARIABLES
$color-background: #102c2bda;
$color-primary: #fff;

$linear-gradient: transparent url('/Path 1.svg') 0% 0% no-repeat padding-box;


// FONT VARIABLES
$font-primary: 'Poppins',
sans-serif;
$font-display: 'Poppins',
sans-serif;
