// COLOR VARIABLES
$color-background: #102c2bda;
$color-primary: #fff;

$linear-gradient: transparent url('/Path 1.svg') 0% 0% no-repeat padding-box;

$color-1: #271ac1;

// FONT VARIABLES
$font-Montserrat: 'Montserrat',
sans-serif;
$font-Poppins: 'Poppins', sans-serif;

