.comingSoon {
    grid-column: 1 / -1;
    height: 100vh;
    display: grid;
    justify-content: center;

    .ellipse {
        position: absolute;
        top: 187px;
        left: 259px;
        width: 140px;
        height: 143px;
        z-index: 2;
        opacity: 1;
    }
}
