.about {
    display: grid;
    grid-column: 1 / -1;
    grid-template-columns: repeat(
        12,
        [col-start] minmax(min-content, 14rem) [col-end]
    );

    &__header {
        height: 80vh;
        display: grid;
        position: relative;
        grid-template-columns: repeat(
            12,
            [col-start] minmax(min-content, 14rem) [col-end]
        );
        grid-column: 1 / -1;

        &--1 {
            background: #eddbf021;
            backdrop-filter: blur(16px);
            grid-column: 1 / 9;
            position: relative;
            z-index: 2;

            &-box {
                position: absolute;
                grid-column: 6 / 9;
                z-index: 1;
                right: 10rem;
                top: 10rem;
                width: 30rem;
                height: 40rem;
                background: linear-gradient(180deg, #7f1e7b 0%, #1d0040 100%);
            }
        }
        &--2 {
            position: absolute;
            z-index: 3;
            top: 25rem;
            display: grid;
            width: 926px;
            height: 293px;
            grid-column: 5 / 9;
            margin-left: 5rem;

            &__subTitle {
                .span-1 {
                    position: absolute;
                    background: white;
                    width: 5rem;
                    height: 2px;
                    left: 0;
                    top: 47%;
                }

                .span-2 {
                    font-size: 1.3rem;
                    letter-spacing: 1.2px;
                    margin-left: 6rem;
                }
            }

            &__title {
                font-size: 5.3rem;
                display: grid;
                justify-content: end;
            }
        }
        &--3 {
            width: 532px;
            font-size: 1.3rem;
            position: absolute;
            right: 0;
            bottom: 0;
            font-weight: 200;
            line-height: 3rem;
        }
        &--ellipse {
            position: absolute;
            right: 0;
            top: 10rem;
            border-radius: 100%;
            width: 241px;
            height: 246px;
            background: transparent
                linear-gradient(177deg, #213f72 0%, #1d0040 58%);
        }
    }

    &__section1 {
        margin: 15rem 0;
        display: grid;
        justify-content: center;
        grid-column: 1 / -1;

        &--content {
            width: 1384px;

            letter-spacing: 1.28px;
            font-size: 4rem;

            span {
                font-weight: 500;
            }
        }
    }

    &__section2 {
        display: grid;
        grid-column: 1 / -1;
        grid-template-columns: 1fr 1fr;
        margin-bottom: 15rem;

        .section2-1 {
            display: grid;
            padding-left: 10rem;
            justify-content: center;
            align-items: flex-end;

            &__rapper {
                display: grid;
                gap: 3rem;
                align-self: center;
            }

            &__title {
                display: flex;
                gap: 2rem;
                position: relative;

                .title__1 {
                    display: grid;
                    align-content: center;

                    &--number {
                        font-weight: 400;
                        position: absolute;
                        top: -2rem;
                        left: 1rem;
                    }
                    &--dash {
                        position: absolute;
                        width: 6rem;
                        top: 13px;
                        height: 2px;
                        background-color: white;
                    }
                }

                .title__2 {
                    letter-spacing: 1.2px;
                    font-weight: 400;
                    margin-left: 5rem;
                }
            }

            &__text {
                width: 587px;
                height: 175px;
                font-size: 1.3rem;
                font-weight: 300;
                line-height: 3rem;
                padding-right: 3rem;
            }
        }

        .section2-2 {
            position: relative;
            z-index: 3;

            &__title {
                display: flex;
                gap: 2rem;
                position: relative;

                .title__1 {
                    display: grid;
                    align-content: center;

                    &--number {
                        font-weight: 400;
                        position: absolute;
                        top: -2rem;
                        left: 1rem;
                    }
                    &--dash {
                        position: absolute;
                        width: 6rem;
                        top: 13px;
                        height: 2px;
                        background-color: white;
                    }
                }

                .title__2 {
                    letter-spacing: 1.2px;
                    font-weight: 400;
                    margin-left: 5rem;
                }
            }

            &__container {
                position: relative;
                z-index: 2;
                width: 960px;
                display: grid;
                justify-content: center;
                align-content: center;
                gap: 2rem;
                height: 627px;
                background: #eddbf021;
                backdrop-filter: blur(16px);
            }
            &__subContainer {
                position: absolute;
                grid-column: 6 / 9;
                z-index: 1;
                left: 12rem;
                top: 5rem;
                width: 20rem;
                height: 22rem;
                background: linear-gradient(180deg, #213f72 0%, #19073b 100%);
            }

            &__text {
                width: 692px;
                height: 179px;
                font-weight: 300;
                font-size: 1.3rem;
                line-height: 3rem;
            }
        }
    }

    &__section3 {
        position: relative;
        grid-column: 1 / -1;

        .section3-1 {
            position: relative;
            z-index: 2;
            background: #eddbf021;
            width: 1920px;
            height: 463px;
            backdrop-filter: blur(16px);

            display: grid;
            justify-content: start;
            padding-left: 8rem;
            gap: 2rem;
            align-content: center;

            &__header {
                letter-spacing: 0.9px;
                font-size: 2.8rem;
                font-weight: 500;
            }

            &__text {
                font-size: 1.5rem;
                font-weight: 300;
                width: 786px;
                line-height: 3rem;
            }

            &__btn {
                display: flex;
                align-items: center;
                align-content: center;
                gap: 0.5rem;

                button {
                    font-size: 1.3rem;
                    font-weight: 500;
                    color: #ff00f7;
                    background-color: transparent;
                    border: none;
                    outline: none;
                }

                &--arrow {
                    font-size: 1.5rem;
                    color: #ff00f7;
                }
            }
        }

        .section3-2 {
            position: absolute;
            z-index: 1;
            right: 10rem;
            top: 6rem;
            width: 30rem;
            height: 18rem;
            background: linear-gradient(180deg, #923f1f 0%, #19073b 100%);
        }
    }
}
