.blog {
    display: grid;
    grid-column: 1 / -1;
    background-color: white;
    grid-template-columns: repeat(
        12,
        [col-start] minmax(min-content, 14rem) [col-end]
    );

    &__banner {
        position: relative;
        z-index: 100;
        height: 390px;
        grid-column: 1 / -1;
        background: transparent
            linear-gradient(180deg, #210045 0%, #0c0123 100%);
        display: grid;
        grid-template-columns: repeat(
            12,
            [col-start] minmax(min-content, 14rem) [col-end]
        );
        align-items: center;

        &--left {
            background: #eddbf021;
            backdrop-filter: blur(16px);
            grid-column: 1 / 5;
            position: relative;
            z-index: 2;
            height: 389px;
        }

        &--text {
            display: grid;
            position: absolute;
            z-index: 3;

            left: 22.5rem;
            width: 555px;
            height: 126px;

            .text__subTitle {
                .span-1 {
                    position: absolute;
                    background: white;
                    width: 5rem;
                    height: 2px;
                    left: 0;
                    top: 1rem;
                }

                .span-2 {
                    font-size: 1.3rem;
                    letter-spacing: 1.2px;
                    margin-left: 6rem;
                    text-transform: uppercase;
                }
            }
            .text__title {
                font-size: 3.3rem;
                display: grid;
                justify-content: end;
            }
        }
        &--left-sub {
            position: absolute;

            z-index: 1;
            left: 18rem;
            top: 5rem;
            width: 15rem;
            height: 18rem;
            background: linear-gradient(180deg, #7f1e7b 0%, #1d0040 100%);
        }
    }

    &__main {
        padding: 5rem 3rem;
        color: black;
        display: grid;
        grid-column: 3 / 11;

        &--1 {
            display: flex;
            justify-content: space-between;

            .main__searchBox {
                position: relative;
                justify-self: start;
                align-content: center;
                align-items: center;
                display: grid;
                width: 613px;

                input {
                    border-radius: 3rem;
                    padding: 2rem 2rem;
                    border: 1px solid black;
                    font-size: 1rem;
                }

                &--icon {
                    position: absolute;
                    right: 2rem;
                    font-size: 3rem;
                }
            }
        }

        &--2 {
            padding: 5rem 0;

            .cards {
                display: grid;
                grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
                gap: 2rem;
                row-gap: 4rem;
            }
        }

        &--4 {
            padding-top: 5rem;
            display: grid;

            .cards {
                display: grid;
                grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
                gap: 2rem;
                row-gap: 4rem;
            }

            &-btn{
                background-color: #7C0FD5;
                border-radius: 3rem;
                padding: 1.7rem 4rem;
                font-size: 1.2rem;
                text-transform: uppercase;
                color: white;
                justify-self: center;
                display: grid;
                margin-top: 5rem;
            }
        }
    }

    &__section3 {
        position: relative;
        grid-column: 1 / -1;
        margin-bottom: 3rem;

        .section3-1 {
            position: relative;
            z-index: 2;
            background: #eddbf021;
            width: 1920px;
            height: 463px;
            backdrop-filter: blur(16px);

            display: grid;
            justify-content: start;
            padding-left: 8rem;
            gap: 2rem;
            align-content: center;

            &__header {
                letter-spacing: 0.9px;
                font-size: 2.8rem;
                font-weight: 500;
            }

            &__text {
                font-size: 1.5rem;
                font-weight: 300;
                width: 786px;
                line-height: 3rem;
            }

            &__btn {
                display: flex;
                align-items: center;
                align-content: center;
                gap: 0.5rem;

                button {
                    font-size: 1.3rem;
                    font-weight: 500;
                    color: #ff00f7;
                    background-color: transparent;
                    border: none;
                    outline: none;
                }

                &--arrow {
                    font-size: 1.5rem;
                    color: #ff00f7;
                }
            }
        }

        .section3-2 {
            position: absolute;
            z-index: 1;
            right: 10rem;
            top: 6rem;
            width: 30rem;
            height: 18rem;
            background: linear-gradient(180deg, #923f1f 0%, #19073b 100%);
        }
    }
}
