.blog {
    &__banner {
        position: relative;
        width: 1920px;
        height: 390px;
        background: transparent
            linear-gradient(180deg, #210045 0%, #0c0123 100%);

        &--left {
            background: #eddbf021;
            backdrop-filter: blur(16px);
            grid-column: 1 / 9;
            position: relative;
            z-index: 2;
        }

        &--text {
            .text__subTitle {
                .span-1 {
                    position: absolute;
                    background: white;
                    width: 5rem;
                    height: 2px;
                    left: 0;
                    top: 1rem;
                }

                .span-2 {
                    font-size: 1.3rem;
                    letter-spacing: 1.2px;
                    margin-left: 6rem;
                }
            }
            .text__title {
                font-size: 5.3rem;
                display: grid;
                justify-content: end;
            }
        }
        &--left-sub {
             position: absolute;
                grid-column: 6 / 9;
                z-index: 1;
                right: 10rem;
                top: 10rem;
                width: 30rem;
                height: 40rem;
                background: linear-gradient(180deg, #7f1e7b 0%, #1d0040 100%);
        }
        &--right {
        }
    }
}
