.adminNavbar {
    background-color: $color-secondary !important;
}

.adminNavLinks{
        color: white !important;

}

.adminStatsCard{
    background-color: $color-secondary !important;
    color: white !important;
    box-shadow: $box-shadow !important;
}
