.deposit{

    color: black;
    display: grid;
    justify-content: center;
    align-items: center;
    align-content: center;
    justify-items: center;
    gap: 2.6rem;
    padding: 1rem;
    grid-template-rows: min-content max-content;

    // @include respond(phone){
    //     padding: 8rem;
    //     gap: 1rem;
    // }

    &__heading{
        align-self: center;
        color: black;
        font-weight: $font-display;
        font-weight: 700;
        text-transform: uppercase;
       margin-top: 2rem;
    }

    &__info{
        color: black;
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-self: start;
        grid-template-rows: min-content;
       // font-size: 1.6rem;

        &--left{
            padding: .7rem 1rem;
        }
        &--right{
            padding: .7rem 1rem;
        }

        &--instruction{
            display: grid;
            word-wrap: break-word;
            word-break: break-all;
            font-size: 1rem;
            text-align: center;
            justify-content: center;
            justify-items: center;
            font-size: 1.4rem;
            color: black;
            font-family: $font-display;
            font-weight: 400;
        }
    }
}

  .copied{
    font-size: 1.3rem;
    font-weight: 600;
}

