.auth {
    &-form {
        z-index: 1000;
        display: grid;
        justify-self: center;
        width: 100%;
        // font-size: 1.4rem;
        grid-column: col-start 2 / col-end 6;
        align-content: center;
        // margin: auto;
    // margin: 10rem 5rem;
        // border: 1px solid $color-secondary;
        // border-radius: 5px;
        // box-shadow: $box-shadow;

        // @include respond(tab-port) {
        //     grid-column: 2 / col-end 8;
        // }

        // @include respond(bigger-phone) {
        //     grid-column: 2 / col-end 8;
        // }

        // @include respond(smaller-phone) {
        //     font-size: 1.3rem;
        // }
    }

    &__message {
        font-family: $font-display;
        font-weight: 400;
        text-align: center;
        padding: 1rem 3rem;
        margin: 1rem;
        margin-bottom: 2rem;
        font-size: 1.3rem;
        background-color: $color-primary;
        color: #fff;
        transition: all 0.2s;

        &--success {
            background: $color-primary;
        }

        &--error {
            background-color: $color-error;
        }
    }
}

.auth-form__login {
   // grid-column: col-start 3 / col-end 5;

    // @include respond(phone) {
    //     grid-column: col-start 2 / col-end 5;
    // }

    // @include respond(smaller-phone) {
    //     grid-column: sidebar-end / col-end 8;
    // }
}

.form {
    margin: 1rem 0;
    width: 100%;

    &__heading {
        grid-column: 1 / -1;
        border-bottom: 1px solid $color-grey-dark-2;
    }

    &__heading--forgottenPassword{
        text-align: center;
        color: $color-primary-dark;
        font-family: $font-display;
        text-transform: uppercase;
    }

    &-1,
    &-2,
    &-3 {
        display: grid;
        gap: 1rem;
        grid-column: 1 / -1;
        grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));

        // @include respond(smaller-phone) {
        //     grid-template-columns: 1fr;
        // }
    }

    &__box {
        display: grid;
        gap: 2rem;
        grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));

        // @include respond(phone) {
        //     column-gap: 1rem;
        // }
    }

   

    &__link {
        &:link,
        &:visited {
            color: white;
        }
    }

    &__checkbox {
        display: flex;
        align-items: baseline;
        justify-content: center;

        // @include respond(smaller-phone) {
        //     align-items: unset;
        // }
    }

    &__label,
    &__checkboxLabel {
        display: block;
        color: $color-primary-dark;
        font-family: $font-display;
        font-weight: 400;
        text-transform: uppercase;
        margin-bottom: 0.25rem;
    }

    &__checkboxLabel {
        display: grid;
        column-gap: 1rem;
        grid-template-columns: min-content max-content;
        text-transform: none;
    }

    &__input,
    &__textarea {
        display: block;
       // color: $color-secondary !important;

        font-size: 1.6rem;
        padding: 1rem 2rem;
        width: 100%;
        border-radius: 3px;
        border: 2px solid #ccc;
        background: #f3f3f3d5;
    }

    &__input:focus,
    &__textarea:focus {
        outline: none;
        // color: $color-primary-dark;
        box-shadow: 1px 0px 8px 2px $color-grey-dark-2;
    }

    &-btn {
        margin-top: 2rem;
        display: grid;
        grid-column: 1 / -1;
        justify-content: center;
        justify-items: center;

        &__link {
            &:link,
            &:visited {
                color: white;
                font-family: $font-display;
                text-decoration: none;
                padding: 1rem;
            }
        }
    }
}

.invalid {
    border: 1px solid red;
    // background: #ffc2c2;
}
