.footer{
    display: grid;
    justify-content: center;
    grid-column: center-start / center-end;

    &__links{
        display: flex;
        list-style: none;
        justify-content: space-between;

        &--item{
            font-size: 2.5rem;
        }
    }
}