.footer{
    display: grid;
    justify-content: center;
    justify-items: center;
    grid-column: center-start / center-end;

    &__links{
        display: flex;
        list-style: none;
        justify-content: space-between;
        width: 20rem;

        &--item{
            font-size: 2.5rem;
        }

       
    }
}