.header {
    display: flex;
    grid-column: 1 / -1;
    justify-content: space-between;
    align-items: center;

    &__logo {
        width: 110px;
        cursor: pointer;

        img{
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }

    &__lists {
        list-style: none;
        display: flex;
        background-color: red;
        &--item {
            margin: 0 2rem;
            background: yellow
        }
    }
}
