*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html,
body {
    position: relative;
    line-height: 1.6;
    font-weight: 400;
    font-family: $font-Poppins;
    box-sizing: border-box;
    width: 1920px;
    min-height: 1290px;
    background: linear-gradient(to bottom, #210045, #0c0123 40%);
    margin: 0 auto;
}

